<div *ngIf="esUrl==false">
  <mat-card id="first-group">
    <div class="label-f">
      <label>Clases:</label>
    </div>
    <mat-select placeholder="Seleccione la clase" [(value)]="selectedCampo"
      (selectionChange)="actualizarParametros()">
      <mat-option *ngFor="let campo of camposSelector" value={{campo}}>
        {{campo}}
      </mat-option>
    </mat-select>
  </mat-card>

  <div *ngIf="selectedCampo" id="first-group">
    <mat-card>
      <div *ngFor="let prop of propiedadesSeleccionadas">
        <mat-form-field class="param-line">
          <mat-select placeholder="propiedad" [(value)]="prop.propiedad">
            <mat-option *ngFor="let propCampo of propiedadesCampo" value={{propCampo.nombreSimbolico}}>
              {{propCampo.nombreVisual}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        
        <!--<mat-form-field class="param-line">
          <mat-select placeholder="condicion" [(value)]="prop.condicion">
            <mat-option value="igual">
              igual
            </mat-option>
          </mat-select>
        </mat-form-field>-->

        <mat-form-field class="param-line input-valor" >
          <input matInput [(value)]="prop.valor" />
        </mat-form-field>
      </div>
      <!-- campo propiedad nueva -->
      <mat-form-field class="param-line">
        <mat-select placeholder="propiedad" [(value)]="propiedadNueva.propiedad">
          <mat-option *ngFor="let miPropiedad of propiedadesCampo" value={{miPropiedad.nombreSimbolico}}>
            {{miPropiedad.nombreVisual}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      
      <mat-form-field class="param-line input-valor" >
        <input matInput [type]="esFecha ? 'date' : 'text'" placeholder="valor" [(ngModel)]="esFecha ? fechaTemp : propiedadNueva.valor" />
      </mat-form-field>

      <button mat-button color="primary" class="param-line" (click)="agregarPropiedad()">agregar</button>

      <div *ngIf="propiedadesSeleccionadas.length > 0">
        <button mat-raised-button color="primary" (click)="buscar()" >Buscar</button>
      </div>
    </mat-card>
  </div>
</div>
<div *ngIf="consulta">
  <app-documentos [consulta]="consulta"></app-documentos>
</div>