/*.mat-header-cell {
    color: rgba(17, 155, 74, 0.788);
    padding: 20px;
}*/

.progress-div {
    margin-left: 35%;
    
    padding: 5%;
}

.con-tabla {
    overflow: auto;
}

.mat-cell {
    padding-right: 2%;
}

.mat-header-cell {
    padding-right: 2%;
}